html, body
{
	margin: 0;
	padding: 0;
	background-image: url("/assets/img/desktop.jpg");
	background-attachment: fixed;
}
.parts
{
	position: absolute;
}
nav,
.navbar-toggle
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav
{
	position: fixed;
	z-index: 997;
	background-color: rgba(221,6,0, 0.9);
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
}
.nav-hide
{
	display: none;
}
nav ul
{
	vertical-align: middle;
	padding-left: 0 !important;
}
nav ul li
{
	list-style: none;
}
.navbar-toggle
{
	position: fixed;
	top: 10px;
	left: 24%;
	width: 55px;
	height: 55px;
	z-index: 998;
	cursor: pointer;

	display: block !important;
	padding-top: 17px !important;
	padding-bottom: 0 !important;
	padding-left: 0.9em !important;
	padding-right: 0 !important;
	margin: 0 !important;

	border-radius: 50%;
	background: #bca976;
}
.bar1
{
	width: 50%;
	height: 3px;
	margin-bottom: 5px;
	background-color: #464134;
	transition: all 0.3s ease-in-out;
	z-index: 999;
}
.bar2,
.bar3
{
	width: 74%;
	height: 3px;
	margin-bottom: 5px;
	background-color: #464134;
	transition: all 0.3s ease-in-out;
	z-index: 999;
}
.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3
{
	/*background-color: #d7c38e; z-index: 1000;*/
	display: none;
}
/*
.navbar-on .bar1 {
  width: 74%;
  transform-origin: 15% 85%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 10% 80%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent; } */
.navbar-on
{
	background: transparent;
}
.navbar-toggle img
{
	width: 70%;
}
.hide_close_menu
{
	display: none;
}
.show_close_menu
{
	display: block;
}