html, body
{
	padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #F3F3F3; /*#131313;*/
    color: fff;
}
.social-link
{
    border: none;
    padding: 0;
    background: none;
}
.social-link :hover
{
    transform: scale(1.5);
}
.jump
{
    margin-top: 10em;
}